body{
    font-family: Inter,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,p{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 32px;
}
img{
    display: block;
}